<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/arsenal.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Bukayo Saka", "ArsenalPlayers")
        @Html.ActionLink("Leno", "ArsenalPlayers2")
    </div>
</body>
</html>
