<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/chealsea.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Mason Mount", "ChelseaPlayers")
        @Html.ActionLink("Kai Havertz", "ChelseaPlayers2")
    </div>
</body>
</html>
