<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/everton.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("James Rodriguez", "EvertonPlayers")
        @Html.ActionLink("Allan", "EvertonPlayers2")
    </div>
</body>
</html>
