@{
    ViewBag.Title = "Home Page";
}
<img src="~/Images/snapsoccer.png" />
<h1>SnapSoccer</h1> <div />

<h2>Teams</h2>

<table>
    <tr>
        <img src="~/Images/headerr.png" />
    </tr>
    <tr>
        <img src="~/Images/1.png" />
        @Html.ActionLink("Manchester City Home", "ManCity")

    </tr>

    <tr>
        <img src="~/Images/2.png" />
        @Html.ActionLink("Manchester United Home", "ManUnited")
    </tr>

    <tr>
        <img src="~/Images/3.png" />
        @Html.ActionLink("Leicester City Home", "Leicester")
    </tr>

    <tr>
        <img src="~/Images/4.png" />
        @Html.ActionLink("Chealsea FC Home", "Chelsea")
    </tr>

    <tr>
        <img src="~/Images/5.png" />
        @Html.ActionLink("West Ham United Home", "WestHam")
    </tr>

    <tr>
        <img src="~/Images/6.png" />
        @Html.ActionLink("Liverpool FC Home", "Liverpool")
    </tr>

    <tr>
        <img src="~/Images/7.png" />
        @Html.ActionLink("Tottenham HotSpurs Home", "Tottenham")
    </tr>

    <tr>
        <img src="~/Images/8.png" />
        @Html.ActionLink("Everton FC Home", "Everton")
    </tr>

    <tr>
        <img src="~/Images/9.png" />
        @Html.ActionLink("Leeds United Home", "Leeds")
    </tr>

    <tr>
        <img src="~/Images/10.png" />
        @Html.ActionLink("Arsenal FC Home", "Arsenal")
    </tr>
</table>



































@*<p class=""></p>
        <p><</a></p>
    </div>

    <div class="row">
        <div class="">
            <h2></h2>
            <p>

            </p>
            <p><</a></p>
        </div>
        <div class="">
            <h2></h2>
            <p></p>
            <p><a</a></p>
        </div>
        <div class="">
            <h2></h2>
            <p>.</p>
            <p><
        </div>
    </div>*@
