<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/leeds.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Raphinha", "LeedsPlayers")
        @Html.ActionLink("Liam Cooper", "LeedsPlayers2")
    </div>
</body>
</html>
