<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/leicester.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Jamie Vardy", "LeicesterPlayers")
        @Html.ActionLink("Hamza Choudury", "LeicesterPlayers2")
    </div>
</body>
</html>
