<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/liverpool.jpg" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Liam Millar", "LiverpoolPlayers")
        @Html.ActionLink("Fabinho", "LiverpoolPlayers2")
    </div>
</body>
</html>
