<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/manutd.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Bruno Fernandes", "ManUtdPlayers")
        @Html.ActionLink("Paul Pogba", "ManUtdPlayers2")
    </div>
</body>
</html>
