<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Phil Foden", "ManCityPlayers")
        @Html.ActionLink("Bruno Fernandes", "ManUtdPlayers")
        @Html.ActionLink("Jamie Vardy", "LeicesterPlayers")
        @Html.ActionLink("Mason Mount", "ChelseaPlayers")
        @Html.ActionLink("Tomáš Souček", "WestHamPlayers")
        @Html.ActionLink("Liam Millar", "LiverpoolPlayers")
        @Html.ActionLink("Gareth Bale", "TottenhamPlayers")
        @Html.ActionLink("James Rodriguez", "EvertonPlayers")
        @Html.ActionLink("Raphinha", "LeedsPlayers")
        @Html.ActionLink("Bukayo Saka", "ArsenalPlayers")
    </div>
</body>
</html>







