<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/tottenham.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Gareth Bale", "TottenhamPlayers")
        @Html.ActionLink("Joe Hart", "TottenhamPlayers2")


    </div>
</body>
</html>
