<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <img src="~/Images/westham.png" />
        <p>@ViewBag.WelcomeMessage</p>
        @Html.ActionLink("Tomáš Souček", "WestHamPlayers")
        @Html.ActionLink("Jesse Lingard", "WestHamPlayers2")
    </div>
</body>
</html>
